/* line 3, ../scss/include/_docs.scss */
header,
.header {
  background: #333333;
  width: 100%;
  display: inline-block;
}
/* line 7, ../scss/include/_docs.scss */
header h2 a,
.header h2 a {
  color: white;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

/* line 15, ../scss/include/_docs.scss */
.brand {
  float: left;
}

/* line 18, ../scss/include/_docs.scss */
.ex-navbar {
  float: right;
}
/* line 20, ../scss/include/_docs.scss */
.ex-navbar ul.nav-menu {
  margin-top: 17px;
  margin-bottom: 15px;
}
/* line 23, ../scss/include/_docs.scss */
.ex-navbar ul.nav-menu li {
  margin-right: 0;
  margin-left: 20px;
}
/* line 26, ../scss/include/_docs.scss */
.ex-navbar ul.nav-menu li a {
  color: white;
  font-size: 15px;
}

/* line 33, ../scss/include/_docs.scss */
footer {
  background: #333333;
  width: 100%;
  display: table;
}
/* line 37, ../scss/include/_docs.scss */
footer p {
  color: #ddd;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 11px;
}

/* line 49, ../scss/include/_docs.scss */
.row {
  margin-bottom: 5px;
}

/* line 57, ../scss/include/_docs.scss */
.xlarge-screen,
.large-screen,
.medium-screen,
.small-screen,
.tiny-screen,
.mix-screen {
  margin-bottom: 30px;
}

/* line 60, ../scss/include/_docs.scss */
.box {
  border: 1px solid #ccc;
  width: 100%;
  background-color: #eee;
}
/* line 64, ../scss/include/_docs.scss */
.box p {
  margin: 0;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 76, ../scss/include/_docs.scss */
.container h1.title {
  font-weight: normal;
  color: #13c4ff;
  font-size: 3em;
  font-weight: 300;
}
/* line 83, ../scss/include/_docs.scss */
.container h4.sub-title {
  font-weight: normal;
  color: #6f6f6f;
}
/* line 87, ../scss/include/_docs.scss */
.container h5.showto {
  color: red;
  font-weight: normal;
}
/* line 91, ../scss/include/_docs.scss */
.container h6.code {
  margin-bottom: 5px;
}

/* line 95, ../scss/include/_docs.scss */
.wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 100, ../scss/include/_docs.scss */
.html {
  position: relative;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
}

/* line 106, ../scss/include/_docs.scss */
.highlight {
  background-color: #eee;
  border: 1px solid  #ccc;
  color: #000;
  padding: 0.8em 0.8em 0.8em 0.8em;
  padding-top: 1.8em;
  font-size: 1em;
  line-height: 1.4em;
  margin: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
/* line 116, ../scss/include/_docs.scss */
.highlight pre {
  font-size: 1em;
  line-height: 1.4em;
  margin: 0;
  border: none !important;
}
/* line 121, ../scss/include/_docs.scss */
.highlight:before {
  content: "Code";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #cccccc !important;
  border-right: 1px solid #cccccc !important;
  padding: 0 10px;
  background-color: #fff;
}

/* line 132, ../scss/include/_docs.scss */
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #7f0a0c;
}

/* line 141, ../scss/include/_docs.scss */
.ex-list-view-content {
  background: #fcfcfc;
  margin-bottom: 40px;
  border: 1px solid #eeeeee;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 148, ../scss/include/_docs.scss */
.ex-list-view-content .wrapper {
  padding: 5px 15px 5px 15px;
  padding: 0;
}

/* line 156, ../scss/include/_docs.scss */
.mix .list-group h5 {
  margin: 0;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 5px;
}
/* line 162, ../scss/include/_docs.scss */
.mix .list-group p {
  margin: 0;
}

/* line 171, ../scss/include/_docs.scss */
.ex-navbar-content {
  border: 1px solid #eee;
  padding: 20px 0;
  margin-bottom: 40px;
}
/* line 176, ../scss/include/_docs.scss */
.ex-navbar-content .navbar {
  position: relative;
  padding: 10px 7px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* line 184, ../scss/include/_docs.scss */
.ex-navbar-menu {
  border: 1px solid #ddd;
  padding: 20px 0;
  margin-bottom: 40px;
}
/* line 189, ../scss/include/_docs.scss */
.ex-navbar-menu .navbar-menu {
  position: relative;
}

/* line 194, ../scss/include/_docs.scss */
.ex-tabstrip-content {
  border: 1px solid #eee;
  padding: 20px 0;
  margin-bottom: 40px;
}
/* line 199, ../scss/include/_docs.scss */
.ex-tabstrip-content .tabstrip {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: relative;
}
/* line 204, ../scss/include/_docs.scss */
.ex-tabstrip-content .tabstrip .tabs {
  border-right: 1px solid #ddd;
}
/* line 207, ../scss/include/_docs.scss */
.ex-tabstrip-content .tabstrip .tabs:last-child {
  border-right: 0;
}

/* line 218, ../scss/include/_docs.scss */
.ex-alert-content .alert {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
}

/* line 229, ../scss/include/_docs.scss */
.ex-dropdown-content {
  border: 1px solid #eeeeee;
}
/* line 232, ../scss/include/_docs.scss */
.ex-dropdown-content .menu {
  margin: auto;
}

/* line 241, ../scss/include/_docs.scss */
.ex-tooltip-content ul {
  margin: auto;
}
/* line 244, ../scss/include/_docs.scss */
.ex-tooltip-content .tooltip-text {
  border: 1px solid #ddd;
  padding: 5px 10px 5px 10px;
  display: block;
}
/* line 249, ../scss/include/_docs.scss */
.ex-tooltip-content .tooltip-text:hover {
  background: #f5f5f5;
}

/* line 257, ../scss/include/_docs.scss */
.ex-tabs {
  display: table;
  width: 100%;
}
/* line 261, ../scss/include/_docs.scss */
.ex-tabs article.tabs {
  margin-bottom: 50px;
}

/* line 269, ../scss/include/_docs.scss */
.ex-login {
  margin-top: 30px;
}

/* line 274, ../scss/include/_docs.scss */
.context-menu {
  position: relative;
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  /* line 282, ../scss/include/_docs.scss */
  .ex-navbar {
    display: none;
  }
}
