body > iframe {
  display: none;
}

#codeigniter_profiler {
  display: none;
}

#pushstat {
  display: none;
}

.container {
  position: relative;
}

.hide {
  display: none;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.mandatory-marker {
  color: red;
}

.ex-navbar-menu {
  border: 1px solid #ddd;
  background-color: #F5F5F5;
  padding: 20px 0;
  margin-top: 24px;
  margin-bottom: 24px;
}
.ex-navbar-menu .nav-menu {
  position: relative;
  z-index: 8;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  -o-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}
.ex-navbar-menu .navbar {
  position: relative;
  z-index: 8;
}
.ex-navbar-menu tabstrip,
.ex-navbar-menu .tabstrip {
  position: relative;
  z-index: 8;
}

.ex-sidebar .wrapper {
  padding: 0 5px;
}
.ex-sidebar .sidebar {
  position: relative;
  z-index: 8;
  top: 0;
  margin: 0 auto;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  -o-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}
.ex-sidebar .ex-navbar-menu {
  margin: 30px 0;
}
.ex-sidebar .html {
  margin: 30px 0;
}

.ex-alert-content .alert {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
}

.ex-dropdown-content {
  border: 1px solid #eeeeee;
}
.ex-dropdown-content .menu {
  margin: auto;
}

.ex-tooltip-content ul {
  margin: 0 auto;
}
.ex-tooltip-content .tooltip-text {
  border: 1px solid #ddd;
  padding: 5px 10px 5px 10px;
  display: block;
}

.ex-list-view-content {
  background: #fcfcfc;
  margin-bottom: 40px;
  border: 1px solid #eeeeee;
  border-left: none;
  border-right: none;
  padding: 16px 0;
  margin: 16px -20px;
}
.ex-list-view-content .wrapper {
  padding: 0;
}

@media only screen and (min-width: 767px) {
  .ex-list-view-content {
    border: 1px solid #eeeeee;
    margin: 16px 0;
  }
}
.ex-login {
  margin-top: 30px;
}

.ex-tabs .tabs {
  display: inline-block;
  width: 100%;
}

.icon-box {
  border: 1px solid #ccc;
  width: 100%;
  background-color: #F7F7F9;
  margin: 30px 0 40px;
  padding: 0.8em 0.8em 0.8em 0.8em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.highlight {
  max-height: 200px;
  background-color: #F7F7F9;
  border: 1px solid  #ccc;
  color: #000;
  padding: 1.8em 0.8em 0.8em 0.8em;
  font-size: 1em;
  line-height: 1.4em;
  margin: 0;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  cursor: text;
}
.highlight pre {
  font-size: 1em;
  line-height: 1.64em;
  margin: 0;
  border: none !important;
}
.highlight:before {
  content: "Code";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid  #ccc;
  border-right: 1px solid  #ccc;
  padding: 0 10px;
  background-color: #fff;
}

.box {
  border: 1px solid #ccc;
  width: 100%;
  background-color: #eee;
}
.box p {
  margin: 0;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.html {
  margin: 30px 0 40px;
}

.ex-image {
  margin: 30px 0;
}

.content h1.title {
  font-weight: normal;
  color: #0088cc;
  font-size: 2.2em;
  font-weight: 300;
}
.content h4.sub-title {
  font-weight: normal;
  color: #6f6f6f;
}
.content h5.showto {
  color: red;
  font-weight: normal;
}
.content h6.code {
  margin-bottom: 5px;
}

.contain-area {
  padding: 20px 0 40px;
}

.title-content {
  margin: 0;
  text-align: center;
  color: #08c;
  font-size: 1.9em;
}

fieldset .row {
  margin-bottom: 15px;
}
fieldset .has-error input {
  border-bottom: 1px solid red;
}
fieldset .has-error select {
  border-bottom: 1px solid red;
}
fieldset .has-error textarea {
  border-bottom: 1px solid red;
}
fieldset .has-error label {
  color: red;
}

ul.pagination.centered {
  margin: 30px auto 30px;
}

main.home {
  margin: 0;
  padding: 0;
  flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
}
main.home .background {
  background: url(../img/xinix-logo.png) center no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 70%;
  z-index: -1;
  top: 0;
  bottom: 0;
  opacity: 0.1;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}
main.home .container {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
main.home .wrapper {
  width: 100%;
}

.home .download .wording {
  text-align: center;
  margin-top: 50px;
}
.home .download h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 6em;
  line-height: 120%;
  font-weight: 300;
  color: #718F47;
}
.home .download h4 {
  text-align: center;
  margin: 0;
  font-size: 1.8em;
  line-height: 130%;
}
.home .download h5 {
  font-size: 1.6em;
}
.home .download h5 a {
  margin: 0;
}
.home .download h5 a .xn {
  width: auto;
  margin-right: 5px;
}
.home .download h6 {
  font-size: 1.1em;
  margin-top: 20px;
}

.frame-image {
  border: 1px solid #ddd;
  padding: 30px;
  background-color: #F7F7F9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.frame-image img {
  width: 100%;
  display: inline-block;
}

.context-menu.example {
  position: relative;
  display: inline-block;
}

/*================================= POPUP ===================================*/
.popup-box {
  border: 1px solid #ddd;
  padding: 30px;
  background-color: #F7F7F9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.popup-box #popupOverflow {
  position: relative;
  z-index: 7;
}
.popup-box #popupOverflow #popupTable {
  position: relative;
}
.popup-box #popupOverflow #popupContent .content {
  width: 500px;
}
.popup-box #popupMargin {
  padding: 20px;
}

ul.the-icons li {
  width: 25%;
  display: block;
  padding: 20px 0;
  margin: 0;
  line-height: 20px;
}
ul.the-icons li i {
  line-height: 20px;
  font-size: 20px;
}
ul.the-icons li .i-code {
  display: none;
}

@media only screen and (max-width: 767px) {
  ul.the-icons li {
    width: 33.33%;
  }
}
@media only screen and (max-width: 480px) {
  ul.the-icons li {
    width: 50%;
  }
}
/*===========================================================================*/
/*================================= SKIN BLUE =================================*/
body.blue .nav-menu {
  background: #08c;
  border-bottom: 1px solid #b1dbf9;
}
body.blue .sidebar {
  background-color: #ddeefb;
  border: 1px solid #b1dbf9;
}
body.blue .sidebar .nav li a {
  border-bottom: 1px solid #cde3f1;
}
body.blue .sidebar .nav li a:hover {
  color: #007aff;
}
body.blue .sidebar .nav li a.select {
  border-color: #b1dbf9;
  color: #007aff;
}
body.blue .sidebar .nav li:first-child a.select {
  border-top: 1px solid transparent;
}
body.blue .sidebar .nav li.collapsible li:last-child a {
  border-bottom: 1px solid #cde3f1;
}
body.blue .table-container {
  border-color: #93CFFA;
}
body.blue .table thead tr {
  background: #CCE8FC;
}
body.blue .table th {
  color: #465d6f;
  border-color: #93CFFA;
}
body.blue .table td {
  color: #465d6f;
  border-color: #93CFFA;
}
body.blue .table.stripped tr.even {
  background: #F0F9FF;
}
body.blue .table.stripped tr.alt {
  background: #F0F9FF;
}
body.blue .table.stripped tr:nth-of-type(even) {
  background: #F0F9FF;
}
body.blue .table.hover tr:hover td {
  background: #FFF5ED;
}
body.blue #footer {
  background: #08c;
  border-top: 1px solid #b1dbf9;
}

/*===========================================================================*/
