.alert {
	position: relative;
	z-index: 9;
	padding: 0;

	&.error {
		color: #{$alert-error-color};
		background-color: #{$alert-error};
	}

	&.success {
		color: #{$alert-success-color};
		background-color: #{$alert-success};
	}

	&.warning {
		color: #{$alert-warning-color};
		background-color: #{$alert-warning};
	}

	&.info {
		color: #{$alert-info-color};
		background-color: #{$alert-info};
	}

	p {
		font-weight: 600;
		margin: 0;
		text-align: center;
		font-size: 1.2em;
		padding: 5px 10px;
	}

	button.close {
		padding: 0;
		cursor: pointer;
		background: transparent;
		border: 0;
		-webkit-appearance: none;
		outline: 0;
		float: right;
		font-size: 21px;
		line-height: 1;
		opacity: .8;
		filter: alpha(opacity=20);
		position: relative;
		top: -5px;
		right: -21px;
		color: inherit;
	}
}
