input[type="reset"],
input[type="submit"],
button,
.button {
	font: 1em #{$font-family};
    padding: #{$grid / 2} #{$grid * 6};
    cursor: pointer;
    line-height: #{$body-line-height};
    margin: 0 #{$grid * 2} 0 0;
    position: relative;
    font-weight: #{$font-regular};
    text-decoration: none;
    text-align: center;
    background: transparent;
    border: 1px solid #{$border-button-color};
    color: #{$submit-color};
    display: inline-block;
    @include appearance(none);
    @include border-radius(#{$border-radius-pixels});

    &:hover {
        background: #{$submit-bg};
	    color: #{$submit-solid-color};
    }

    &.error {
    	background: transparent;
	    border: 1px solid #{$button-error};
	    color: #{$button-error};

	    &:hover {
	        background: #{$button-error};
		    color: #{$submit-solid-color};
	    }
    }

    &.success {
    	background: transparent;
	    border: 1px solid #{$button-success};
	    color: #{$button-success};

	    &:hover {
	        background: #{$button-success};
		    color: #{$submit-solid-color};
	    }
    }

    &.warning {
    	background: transparent;
	    border: 1px solid #{$button-warning};
	    color: #{$button-warning};

	    &:hover {
	        background: #{$button-warning};
		    color: #{$submit-solid-color};
	    }
    }

    &.round {
    	padding: 2px 32px;
    	@include border-radius(666em);
    }

    &.solid {
		background: #{$submit-bg};
	    border: 1px solid #{$submit-bg};
	    color: #{$submit-solid-color};

		&.error {
	    	background: #{$button-error};
		    color: #{$submit-solid-color};
		    border-color: #{$button-error};
	    }

	    &.success {
	    	background: #{$button-success};
		    color: #{$submit-solid-color};
		    border-color: #{$button-success};
	    }

	    &.warning {
	    	background: #{$button-warning};
		    color: #{$submit-solid-color};
		    border-color: #{$button-warning};
	    }
    }

    &[disable],
    &.disable {
    	color: #{$disable-color}!important;
    	border-color: #{$disable-color}!important;
    	background: #{lighten($disable-color, 18%)}!important;
    	cursor: default;
    }
}

.pull-right {
	input[type="reset"],
	input[type="submit"],
	button,
	.button {
	    margin: 0 0 0 #{$grid * 2};
	}
}

.button-group {
	list-style: none;
	margin: 0;
	padding-left: 0;

	&.left {
		position: absolute;
		left: 0;
		top: 0;
	}

	&.centered {
		display: table;
		margin: 0 auto 8px;
	}

	&.right {
		position: absolute;
		left: initial;
		right: 0;
		top: 0;
	}

	&.round {
		li {
			a {
				@include border-radius(0);
			}
			&:first-child {
				a {
				    @include border-radius(#{$border-radius-pixels} 0 0 #{$border-radius-pixels});
				}
			}
			&:last-child {
				a {
				    @include border-radius(#{$border-radius-pixels} #{$border-radius-pixels} 0);
				}
			}
		}
	}

	a {
		margin: 0
	}
}
.button-group > :first-child {
	margin-left: 0;
}
.button-group > * {
	margin: 0 0 0 -1px;
	float: left;
}
.button-group::after {
	clear: both;
}
.button-group::before,
.button-group::after {
	content: " ";
	display: table;
}
.button-bar {
	position: relative;
}
.button-bar {
	width: 100%
}
.button-bar::after {
	clear: both;
}
.submit { border: 0; }


// =========================== media query =======================

@media #{$small} {
	.button-bar {
		ul.button-group {
	        position: relative;
	        margin: 0 auto;
	        width: 100%;
	        margin-bottom: 10px;

	        &.left ,
	        &.centered ,
	        &.right {
				width: auto;
				clear: both;
	        }
	        &.right {
	        	float: right;
	        }
	    }
	}
}
