// =================== body ===================
header,
.header {
	background: #{$header-bg};
	width: 100%;
	display: inline-block;
	h1 {
		margin: 4px 0 0;
		line-height: 150%;

		a {
			color: white;
			font-weight: normal;
			margin-top: 15px;
			margin-bottom: 15px;
			font-size: 20px;
		}
	}
}
.brand {
	float: left;
}
.ex-navbar {
	float: right;
	ul.nav-menu {
		margin-top: 17px;
		margin-bottom: 15px;
		li {
			margin-right: 0;
			margin-left: 15px;
			a {
				color: white;
				font-size: 15px;
			}
		}
	}
}
footer {
	background: #{$footer-bg};
	width: 100%;
	display: table;
	p {
		color: #ddd;
		font-weight: normal;
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 11px;
	}
}
// ===========================================


// =============== grid system ===============
// .row {
// 	margin-bottom: 5px;
// }
.xlarge-screen,
.large-screen,
.medium-screen,
.small-screen,
.tiny-screen,
.mix-screen {
	margin-bottom: 30px;
}
.box {
	border: 1px solid #ccc;
	width: 100%;
	background-color: #eee;
	p {
		margin: 0;
		line-height: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
// ===========================================


// ===================== global ===================
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select,
span.field { margin: 0 0 1em 0; }
.container {
	h1.title {
		font-weight: normal;
		color: #{$h1-color};
		font-size: 3em;
		// margin-top: 25px;
		font-weight: 300;
	}
	h4.sub-title {
		font-weight: normal;
		color: #{$h4-color};
	}
	h5.showto {
		color: #{$h5-color};
		font-weight: normal;
	}
	h6.code {
		margin-bottom: 5px;
	}
}
.wrapper {
	padding-left: 10px;
	padding-right: 10px;
}
.html {
	position: relative;
	width: 100%;
	margin-top: 30px;
	margin-bottom:40px;
}
.highlight {
	background-color: #eee;
	border: 1px solid  #ccc;
	color: #000;
	padding: 0.8em 0.8em 0.8em 0.8em;
	padding-top: 1.8em;
	font-size: 1em; line-height: 1.4em; margin: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position: relative;
	pre {
		font-size: 1em; line-height: 1.4em; margin: 0;
		border: none!important;
	}

	&:before {
		content: "Code";
		position: absolute;
		top: 0;
		left: 0;
		border-bottom: 1px solid  #ccc!important;
		border-right: 1px solid  #ccc!important;
		padding: 0 10px;
		background-color: #fff;
	}
}
code {
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-weight: bold;
	color: #7f0a0c;
}
// =====================================================


// ============================= list view ================================
.ex-list-view-content {
	background: #fcfcfc;
	margin-bottom: 40px;
	border: 1px solid #{$border-color};
	padding-top: 15px;
	padding-bottom: 15px;

	.wrapper {
		padding: 5px 15px 5px 15px;
		padding: 0;
	}
}

.mix {
	.list-group {
		h5 {
			margin: 0;
			line-height: 25px;
			font-weight: 400;
			margin-bottom: 5px;
		}
		p {
			margin: 0;
		}
	}
}
// ========================================================================


// ======================= navbar & tabstrip =========================
.ex-navbar-content {
	border: 1px solid #eee;
	padding: 20px 0;
	margin-bottom: 40px;

	.navbar {
		position: relative;
		padding: 10px 7px;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
	}
}

.ex-navbar-menu {
	border: 1px solid #ddd;
	padding: 20px 0;
	margin-bottom: 40px;

	.navbar-menu {
		position: relative;
	}
}

.ex-tabstrip-content {
	border: 1px solid #eee;
	padding: 20px 0;
	margin-bottom: 40px;

	.tabstrip {
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		position: relative;

		.tabs {
			border-right: 1px solid #ddd;

			&:last-child {
				border-right: 0;
			}
		}
	}
}
// ========================================================================


// ================================= alert ========================================
.ex-alert-content {
	.alert {
		position: relative;
		left: 0;
		right: 0;
		top: 0;
	}
}
// ================================================================================


// ================================= dropdown ==================================
.ex-dropdown-content {
	border: 1px solid #{$border-color};

	.menu {
		margin: auto;
	}
}
// =============================================================================


// ================================= tooltip ===================================
.ex-tooltip-content {
	ul {
		margin: auto;
	}
	.tooltip-text {
		border: 1px solid #ddd;
		padding: 5px 10px 5px 10px;
		display: block;
	}
	.tooltip-text:hover {
		background: #f5f5f5;
	}
}
// =============================================================================


// =================================== tabs ====================================
.ex-tabs {
	display: table;
	width: 100%;

	article.tabs {
		margin-bottom: 50px;
	}
}
// =============================================================================


// =================================== login ====================================
.ex-login {
	margin-top: 30px;
}
// =============================================================================

.context-menu {
	position: relative;
	display: inline-block;
}


// ============================= MEDIA QUERY ===================================
@media #{$small} {
    .ex-navbar {
        display: none;
    }
}
// =============================================================================
