form {
    overflow:hidden
}
fieldset {
    border: solid 1px #{$border-color};
    padding: 1.25em;
    margin: 10px 0 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

    .wrapper {
        padding-left: 5px;
        padding-right: 5px
    }
}
legend {
    border: 0;
    padding: 0 10px;
    font-size: 1.3em;
}
label {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
    padding-bottom: 2px;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select,
span.field {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0.5em;
    height: auto;
    width: 100%;
    border: 1px solid #{$border-input-color};
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: 300;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
textarea {
    height: 7em;
}
input[type="checkbox"].swipe {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: darken($checkbox-white, 2%);
    border: 1px solid $checkbox-grey;
    border-radius: 26px;
    cursor: pointer;
    height: 30px;
    position: relative;
    transition: border .25s .15s,
    box-shadow .25s .3s,
    padding .25s;
    width: 50px;
    vertical-align: top;
    outline: 0;

    &:after {
        background-color: $checkbox-white;
        border: 1px solid $checkbox-grey;
        border-radius: 24px;
        box-shadow: inset 0 -3px 3px hsla(0,0%,0%,.025),
        0 1px 4px hsla(0,0%,0%,.15),
        0 4px 4px hsla(0,0%,0%,.1);
        content: '';
        display: block;
        height: 28px;
        left: -1px;
        position: absolute;
        right: 20px;
        top: -0px;
        transition: border .25s .15s,
        left .25s .1s,
        right .15s .175s;
    }

    &:checked {
        border-color: $checkbox-green;
        box-shadow: inset 0 0 0 13px $checkbox-green;
        padding-left: 18px;
        transition: border .25s,
        box-shadow .25s,
        padding .25s .15s;
        background: #53d76a;

        &:after {
            border-color: $checkbox-green;
            left: 20px;
            right: 0px;
            box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.025), 0 1px 4px rgba(0, 0, 0, 0.15), -1px 2px 3px rgba(0, 0, 0, 0.1);
            transition: border .25s,
            left .15s .25s,
            right .25s .175s;
        }
    }
}
select {
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>") right no-repeat;
    background-size: 12px 12px;
    background-position: right 8px top 50%;
    padding-right: 30px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: white;
    text-overflow: "";
    text-indent: 0.01px;
}
span.field {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
form .radio,
form .checkbox {
    padding: 3px;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 0;
    vertical-align: middle;
    margin-right: 2px;
    cursor: pointer;
}

.pre-post {
	span.prefix,
	span.postfix {
		display: block;
		position: relative;
		z-index: 2;
		text-align: center;
		width: 100%;
		padding-top: 0;
		padding-bottom: 0;
		border: 1px solid #{$border-postprefix-color};
		background: #{$prepostfix-bg};
		overflow: hidden;
		font-size: 0.875em;
		padding: 2px 0;
		line-height: 2.2em;
		color: #333333;
	}
	span.prefix {
		border-right: none;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	span.postfix {
		border-left: none;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	.postfix,
	.prefix,
	input.postfix-input {
		box-sizing: border-box;
		border-radius: 0;
	}
	input.postfix-input {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	&.right {
		input.postfix-input {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}
}

.input-button {
	input[type="text"] {
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.button.solid {
		width: 100%;
		margin: 0;
		border-radius: 0;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		border: 0;
		padding: 6px 16px 5px;
	}

	&.left {
		input[type="text"] {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		.button {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
	}
}


.input-button.left .button {
	margin: 0;
}