*, ::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-size: 0.9em;
    color: #000;
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato', sans-serif;
}
.container {
    &.fluid {
        width: 100%;
    }
}
.row {
    width: 100%;
    margin: 0 auto;
    display: block;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

main.content {
    padding-top: #{$top-bar-height};
    margin-left: #{$side-bar-width};
    height: 100%;

    &>.wrapper {
        padding: 24px 48px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 16px 0 8px;
    line-height: #{$body-line-height};
    font-weight: #{$font-regular};
}

* > h1:first-child,
* > h2:first-child,
* > h3:first-child,
* > h4:first-child,
* > h5:first-child,
* > h6:first-child {
    margin-top:0;
}
h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.6em;
}
h5 {
    font-size: 1.4em;
}
h6 {
    font-size: 1.2em;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-size: 60%;
    color: #{$h1-small-color};
    line-height: 0;
}
p {
    font-size: 1em;
    line-height: #{$body-line-height};
    margin: 0 0 8px;
}
a {
    color: #{$a-color};
    text-decoration: none;
    line-height: inherit;
    outline: 0;
}
a:hover,
a:focus {
    color: darken($a-color, $a-color-amount);
}
small {
    font-size: 60%;
    line-height: inherit;
}
strong,
b {
    font-weight: bold;
    line-height: inherit;
}
em,
i {
    font-style: italic;
    line-height: inherit;
}
ul,
ol {
    line-height: #{$body-line-height};
}
ul.flat {
    display: table;
    list-style: none;
    padding: 0;

    li {
        float: left;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}
.subheader {
    color: #{$subheader-color};
    font-weight: 300;
}
.clearfix {
    clear: both
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
form {
    overflow:hidden
}
fieldset {
    border: solid 1px #{$border-color};
    padding: 1.25em;
    margin: 10px 0 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

    .wrapper {
        padding-left: 5px;
        padding-right: 5px
    }
}
hr {
    border: 1px solid #{$border-color};
    border-width: 1px 0 0;
}
legend {
    border: 0;
    padding: 0 10px;
    font-size: 1.3em;
}
label {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
    padding-bottom: 2px;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select,
span.field {
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0.5em;
    height: auto;
    width: 100%;
    border: 1px solid #{$border-input-color};
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: 300;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
textarea {
    height: 7em;
}
input[type="checkbox"].swipe {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: darken($checkbox-white, 2%);
    border: 1px solid $checkbox-grey;
    border-radius: 26px;
    cursor: pointer;
    height: 30px;
    position: relative;
    transition: border .25s .15s,
    box-shadow .25s .3s,
    padding .25s;
    width: 50px;
    vertical-align: top;
    outline: 0;

    &:after {
        background-color: $checkbox-white;
        border: 1px solid $checkbox-grey;
        border-radius: 24px;
        box-shadow: inset 0 -3px 3px hsla(0,0%,0%,.025),
        0 1px 4px hsla(0,0%,0%,.15),
        0 4px 4px hsla(0,0%,0%,.1);
        content: '';
        display: block;
        height: 28px;
        left: -1px;
        position: absolute;
        right: 20px;
        top: -0px;
        transition: border .25s .15s,
        left .25s .1s,
        right .15s .175s;
    }

    &:checked {
        border-color: $checkbox-green;
        box-shadow: inset 0 0 0 13px $checkbox-green;
        padding-left: 18px;
        transition: border .25s,
        box-shadow .25s,
        padding .25s .15s;
        background: #53d76a;

        &:after {
            border-color: $checkbox-green;
            left: 20px;
            right: 0px;
            box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.025), 0 1px 4px rgba(0, 0, 0, 0.15), -1px 2px 3px rgba(0, 0, 0, 0.1);
            transition: border .25s,
            left .15s .25s,
            right .25s .175s;
        }
    }
}
input[type=submit],
input[type=reset] {
    padding: 6px 16px;
    cursor: pointer;
    line-height: #{$body-line-height};
    margin: 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    background: transparent;
    border: 1px solid #{$border-button-color};
    color: #{$submit-color};
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-weight: #{$font-bold};

    &:active {
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
    }

    &:hover {
        background: #{$submit-bg};
        color: #{$submit-solid-color};
    }
}
select {
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>") right no-repeat;
    background-size: 12px 12px;
    background-position: right 8px top 50%;
    padding-right: 30px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: white;
    text-overflow: "";
    text-indent: 0.01px;
}
span.field {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
form .radio,
form .checkbox {
    padding: 3px;
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 0;
    vertical-align: middle;
    margin-right: 2px;
    cursor: pointer;
}
.placeholder {
    display: inline;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: none;
    font-size: 0.9em;

    &.full {
        display: block;
    }
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
img.img-circle {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}
#footer {
    background: #{$footer-bg};
    display: inline-block;
    width: 100%;

    p {
        margin: 0;
        text-align: center;
        color: #333;
        font-size: 0.8em;
        padding: 10px 0;

        a {
            color: #000;
        }
    }
}


// ================== media query ====================
@media #{$screen} {
    .container {
        width: 984px;
        margin: 0 auto;
    }
    #menu_icon {
        display: none;
    }
    ul.flat {
        margin: 0;
    }
}
@media #{$large} {
    .container {
        width: 1320px;
        margin: 0 auto;
    }
    .hidden-xlarge {
        display: none;
    }
}
@media #{$medium} {
    .container {
        width: 728px;
        margin: 0 auto;
    }
}
@media #{$small} {
    .container {
        width: 440px;
        margin: 0 auto;
    }
    #menu_icon {
        display: block;
        position: absolute;
        right: 10px;
        top: 0;
        a {
            font-size: 40px;
            color: white;
        }
    }
}
@media #{$tiny} {
    .container {
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 960px) {
    .touch {
        * {
            -webkit-touch-callout: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        .container, .container-fluid {
            -webkit-user-select: none;
            -moz-user-select: -moz-none;
            user-select: none;
        }
    }
}

// @media screen and (orientation:landscape) {
//     body * {
//         -webkit-touch-callout: none;
//         -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
//     }
//     .container, .container-fluid {
//         -webkit-user-select: none;
//         -moz-user-select: -moz-none;
//         user-select: none;
//     }
// }



