*,
:before,
::before,
:after,
::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    font: 0.9em #{$font-family};
    color: #{$color};
    -webkit-font-smoothing: antialiased;
}
.container {
    &.fluid {
        width: 100%;
    }
}
.row {
    width: 100%;
    margin: 0 auto;
    display: block;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.wrapper {
    padding: 0 #{$grid * 5};
}
.row > .wrapper:first-child,
.row > *:first-child .wrapper {
    padding-left: 0!important;
}
.row > .wrapper:last-child,
.row > *:last-child .wrapper {
    padding-right: 0!important;
}

main.content {
    padding-top: #{$top-bar-height};
    margin-left: #{$side-bar-width};
    height: 100%;

    & > .wrapper {
        padding: #{$grid * 6} #{$grid * 12};
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 16px 0 8px;
    line-height: #{$body-line-height};
    font-weight: #{$font-regular};
}

* > h1:first-child,
* > h2:first-child,
* > h3:first-child,
* > h4:first-child,
* > h5:first-child,
* > h6:first-child {
    margin-top:0;
}
h1 {
    font-size: 1.6em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.3em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1.1em;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-size: 60%;
    color: #{$h1-small-color};
    line-height: 0;
}
p {
    font-size: 1em;
    line-height: #{$body-line-height};
    margin: 0 0 8px;
}
a {
    color: #{$a-color};
    text-decoration: none;
    line-height: inherit;
    outline: 0;
}
a:hover,
a:focus {
    color: darken($a-color, $a-color-amount);
}
small {
    font-size: 60%;
    line-height: inherit;
}
strong,
b {
    font-weight: bold;
    line-height: inherit;
}
em,
i {
    font-style: italic;
    line-height: inherit;
}
ul,
ol {
    line-height: #{$body-line-height};
}
ul.flat {
    display: table;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        float: left;
        display: block;
        margin-right: #{$grid * 4};

        &:last-child {
            margin-right: 0;
        }
    }
}
ul.plain {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: block;
        padding: 0;
        margin: 0;
    }
}

hr {
    border: 1px solid #{$border-color};
    border-width: 1px 0 0;
}
img.img-circle {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}

.subheader {
    color: #{$subheader-color};
    font-weight: 300;
}
.clear,
.clearfix {
    clear: both
}
.right,
.pull-right {
    float: right;
}
.left,
.pull-left {
    float: left;
}

#footer {
    background: #{$footer-bg};
    display: inline-block;
    width: 100%;

    p {
        margin: 0;
        text-align: center;
        color: #333;
        font-size: 0.8em;
        padding: 10px 0;

        a {
            color: #000;
        }
    }
}


// ================== media query ====================
@media #{$screen} {
    .container {
        width: 984px;
        margin: 0 auto;
    }
    #menu_icon {
        display: none;
    }
    ul.flat {
        margin: 0;
    }
}
@media #{$large} {
    .container {
        width: 1320px;
        margin: 0 auto;
    }
    .hidden-xlarge {
        display: none;
    }
}
@media #{$medium} {
    .container {
        width: 728px;
        margin: 0 auto;
    }
}
@media #{$small} {
    .container {
        width: 440px;
        margin: 0 auto;
    }
    #menu_icon {
        display: block;
        position: absolute;
        right: 10px;
        top: 0;
        a {
            font-size: 40px;
            color: white;
        }
    }
}
@media #{$tiny} {
    .container {
        width: 100%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 960px) {
    .touch {
        * {
            -webkit-touch-callout: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        .container, .container-fluid {
            -webkit-user-select: none;
            -moz-user-select: -moz-none;
            user-select: none;
        }
    }
}