.listview,
.listview * {
	@include box-sizing(border-box);
	@include background-clip(border-box);
}
.listview {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;

	h5 {
		font-size: 0.8em;
		letter-spacing: 0.032em;
		text-transform: uppercase;
		padding-left: #{$grid * 3};
		color: #{$grouptitle-color};
		margin-bottom: 7px;
	}

	a {
		position: relative;
		float: left;
		padding: #{$grid * 2} #{$grid * 9} #{$grid * 2} #{$grid * 3};
		width: 100%;
		color: #{$black};
		font-size: 1.1em;
		line-height: 1.2em;
		cursor: pointer;
		@include transform-style(preserve-3d);

		&:hover {
			background: $bg-hover;
		}

		.xn,
		.swipe {
			position: absolute;
			right: #{$grid * 3};
			top: 50%;
			@include transform(translateY(-50%));
		}
	}

	a,
	span,
	small {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	span,
	small {
		width: 100%;
		font-weight: #{$font-light};
	}
	small {
		font-size: 0.9em;
		letter-spacing: #{$letter-spacing-wide};
	}

	&:not > li:first-child {
		border-top: 0;
	}

	li {
		line-height: #{$body-line-height};
		overflow: hidden;
		margin: 0;
		display: block;
		position: relative;
		border-bottom: 1px solid #{$border-color};

		&.list-group-container {
			border: 0;
		}

		img,
		.icon {
			width: #{$img-icon-width};
			height: #{$img-icon-height};
			float: left;
			margin-right: #{$grid * 2};
		}
		.picture {
			width: #{$img-picture-width};
			height: #{$img-picture-height};
			margin-right: 0;
		}
		.image {
			width: #{$img-image-width};
			height: #{$img-image-height};
			margin-right: 0;
		}
	}

	.list-group {
		padding: 0;
		list-style: none;
		margin-bottom: 20px;
		border-top: 1px solid #{$border-color};
		background: white;

		li {
			padding: 0;
			border-bottom: 1px solid #{$border-color};
			position: relative;
			display: block;
			width: 100%;

			&.plain {
				a {
					padding-right: #{$grid * 2};

					&:after {
						border: 0;
					}
				}
			}
		}
	}

	&.text {
		.list-group {
			a {
				line-height: 30px;
			}

			span {
				float: left;
				width: auto;
				max-width: 49%;

				&.side {
					float: right;
					color: adjust-lightness($color, 48%);
					max-width: 35%;
				}
			}
		}
	}

	&.nest {
		.list-group {
			a:after {
				position: relative;
				right: 0;
				top: 0;
				float: right;
				margin-top: 6px;
				margin-right: -19px;
			}
		}
	}

	&.mix {
		.list-group {
			padding: 0;
			a {
				padding-left: 30px;
				padding: 12px 30px 12px 50px;

				img {
					position: absolute;
					left: 10px;
					margin: 0;
					top: 15px;
				}
			}
		}
	}

	&.thumb {
		.list-group {
			a {
				padding-left: 60px;
				padding: 12px 30px 12px 60px;

				img {
					top: 50%;
					@include transform(translateY(-50%));
				}
			}
		}
	}

	&.detail {
		.detail-group {
			li.detail-content{
				margin-bottom: 40px;
			}
			ul.detail-list {
				padding-left: 0;
				float: left;
				width: 100%;
				border-top: 1px solid #{$border-color};

				li:last-child {
					border-bottom: 0;
				}
			}
		}
	}

	ul.nested {
		padding-left: 20px;
		float: left;
		width: 100%;
		border-top: 1px solid #{$border-color};

		li:last-child {
			border-bottom: 0;
		}
	}
}