.listview,
.listview * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-background-clip: border-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
}
.listview:not>li:first-child {
	border-top: 0;
}
.listview>li.list-group-container {
	border: 0;
}
.listview {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		line-height: #{$body-line-height};
		overflow: hidden;
		margin: 0;
		display: block;
		position: relative;
		vertical-align: middle;
		border-bottom: 1px solid #{$border-color};
		border-width: 0 0 1px 0;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;

		img, .icon {
			width: #{$img-icon-width};
			height: #{$img-icon-height};
			float: left;
			margin-right: 10px;
		}
		img.picture {
			width: #{$img-picture-width};
			height: #{$img-picture-height};
			margin-right: 0;
		}
		img.image {
			width: #{$img-image-width};
			height: #{$img-image-height};
			margin-right: 0;
		}

		a {
			font-weight: 300;
			padding: 5px 10px;
			margin: 0;
			color: black;
		}

	}

	h5 {
		font-size: 0.9em;
		text-transform: uppercase;
		font-weight: 600;
		padding-left: 10px;
		color: #{$grouptitle-color};
		margin-bottom: 7px;
	}

	.list-group {
		padding: 0;
		list-style: none;
		margin-bottom: 20px;
		border-top: 1px solid #{$border-color};
		background: white;

		li {
			padding: 0;
			border-bottom: 1px solid #{$border-color};
			position: relative;
			display: inline-block;
			width: 100%;

			a {
				padding: 8px 30px 8px 8px;
				font-size: 1.2em;
				width: 100%;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				float: left;
				line-height: #{$listviewtext-line-height};

				&:hover {
					background: $bg-hover;
				}
			}

			span {
				line-height: #{$listviewtext-line-height};
				width: 100%;
				display: block;
			}

			&.plain {
				a {
					padding: 10px;

					&:after {
						border: 0;
					}
				}
			}
		}

		span.sub-title {
			font-size: 0.8em;
			color: #999;
			width: 100%;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			line-height: 15px;
		}

		span.title-list {
			font-size: 1.3em;
			font-weight: 400;
			margin-bottom: 3px;
		}

		a {
			cursor: pointer;
			position: relative;

			i.xn {
				position: absolute;
				right: 10px;
				top: 50%;
				margin-top: -0.52rem;
			}

			&.swipe-toggle {
				padding: 14px 70px 14px 10px;

				input.swipe {
					position: absolute;
					right: 10px;
					z-index: 9;
					top: 50%;
					margin-top: -0.95rem;
				}

				&:after {
					border: 0;
				}
			}
		}
	}

	&.text {
		.list-group {
			a {
				line-height: 30px;
			}

			span {
				float: left;
				width: auto;
				font-weight: 300;
				max-width: 49%;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			span.side {
				float: right;
				color: #999;
				max-width: 35%;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}

	&.nest {
		.list-group {
			a:after {
				position: relative;
				right: 0;
				top: 0;
				float: right;
				margin-top: 6px;
				margin-right: -19px;
			}
		}
	}

	ul.nested {
		padding-left: 20px;
		float: left;
		width: 100%;
		border-top: 1px solid #{$border-color};

		li:last-child {
			border-bottom: 0;
		}
	}

	&.mix {
		.list-group {
			padding: 0;
			a {
				padding-left: 30px;
				padding: 12px 30px 12px 50px;

				img {
					position: absolute;
					left: 10px;
					margin: 0;
					top: 15px;
				}
			}
		}
	}

	&.thumb {
		.list-group {
			a {
				padding-left: 60px;
				padding: 12px 30px 12px 60px;

				img {
					top: 14px;
				}
			}
		}
	}

	&.detail {
		.detail-group {
			li.detail-content{
				margin-bottom: 40px;
			}
			ul.detail-list {
				padding-left: 0;
				float: left;
				width: 100%;
				border-top: 1px solid #{$border-color};

				li:last-child {
					border-bottom: 0;
				}
			}
		}
	}
}





