#login {
	padding: 40px;
	margin: 0 auto;
    margin-top: 40px;
    display: table;
    background: #fbfbfb;
    width: 100%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;

    .title {
		margin-bottom: 30px;

		h2 {
			margin: 0;
			text-align: center;
			font-weight: 300;
			color: #ff9500;
			line-height: 120%;

			strong {
				color: #13c4ff;
				font-weight: 400;
				font-size: 1.2em;
			}
		}
	}

	.check-label {
		margin-bottom: 20px;
	}

	input[type="submit"] {
		margin: 0 auto;
		display: table;
		font-size: 16px;
	}

	input[type="text"],
	input[type="password"] {
		border: 0;
		border-bottom: 1px solid #ddd;
		background: transparent;
		color: #5c7883;
	}

	a.button,
	input[type="submit"] {
	    border: 1px solid #13c4ff;
	    background: transparent;
	    color: #13c4ff;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    -ms-border-radius: 5px;
	    -o-border-radius: 5px;
	    border-radius: 5px;
	}

	a.button:hover,
	input[type="submit"]:hover {
	    background: #13c4ff; color: #fff;
	}

	.myCheckbox {
		padding: 0;
		line-height: 20px;
		display: table;
		position: relative;
		width: auto;
		margin: 10px auto;
		margin-bottom: 20px;

		#accept {
		    float: left;
		    display: block;
		    width: 20px;
		    height: 20px;
		    background: url(../images/check.png) 0 0 no-repeat;
		    margin-right: 10px;
		    margin-top: 0;
		    cursor: pointer;
		    outline: 0;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    -ms-appearance: none;
		    appearance: none;

			&:checked {
				background: url(../images/checked.png) 0 0 no-repeat;
				display: block;
			}
		}

		.placeholder {
			cursor: pointer;
		}

		.term {
			font-size: 16px;
			color: #5c7883;
			font-weight: 300;
			line-height: 25px;
		}
	}
}
