nav.nav-menu {
	background: #666; 
	display: inline-block; 
	width: 100%; 
	position: fixed; 
	top: 0; 
	left: 0; 
	right: 0; 
	z-index: 9; 
	min-height: 45px;

	.wrapper {
		padding: 8px 20px;
	}

	.brand {
		margin: 0;
		float: left;
		font-size: 1.5em;

		a {
			display: inline-block;
			float: left;
			line-height: 40px;
			color: #fff;
		}

		&:hover {
			color: #f5f5f5;
		}

		.logo img {
			height: 40px;
			float: left;
			margin-right: 10px;
			display: inline-block;
		}
	}

	.topbar {
		>li {
			display: inline-block;
			vertical-align: middle;
			float: none;
			margin-right: 25px;
			line-height: 40px;

			&:last-child {
				margin-right: 0;
			}
		}
		li {
			a {
				color: #fff;
				display: block;
			}
		}

		.user {
			position: relative;

			>a {
				padding-right: 20px;
				position: relative;
				line-height: 0;
			}

			.avatar {
				width: 40px;
				height: 40px;
				border: 2px solid #fff;
				margin-right: 5px;
				display: inline-block;
				-webkit-border-radius: 500px;
				-moz-border-radius: 500px;
				-ms-border-radius: 500px;
				-o-border-radius: 500px;
				border-radius: 500px;
				vertical-align: middle;
			}

			h6 {
				display: inline-block;
				margin: 0;
				line-height: 120%;
				font-size: 1em;
				vertical-align: middle;
			}

			span {
				line-height: 120%;
				display: inline-block;
				vertical-align: top;
				top: 4px;
				position: relative;

				small {
					font-size: 85%;
					display: block;
				}
			}
			i.xn-caret-down {
				position: absolute;
				right: 0;
				top: 33%;
			}
		}

		ul {
			display: none;
			position: absolute;
			padding: 0;
			list-style: none;
			width: 100%;
			background: #f9f9f9;
			border: 1px solid #e5e5e5;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;
			border-radius: 5px;

			&.fadeInDown {
				display: block;
				z-index: 3;
			}

			&.sub li {
				display: block;
				float: none;
				margin: 0;
				padding-left: 15px;

				&:hover {
					background: #eee;
				}
			}

			li {
				a {
					padding: 5px 15px 5px 0;
					color: #465d6f;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					max-width: 100%;
					border-bottom: 1px solid #e5e5e5;

					i {
						margin-right: 3px;
					}
				}

				&:last-child a {
					border-bottom: 0;
				}

				&:hover a {
					color: #08c;
				}

				.sub-badge {
					color: #f79263;
				}
			}
		}

		.notification {
			position: relative;

			.badge {
				width: 25px;
				height: 25px;
				line-height: 25px;
				font-size: 0.75em;
				text-align: center;
				display: inline-block;
				background: red;
				-webkit-border-radius: 500px;
				-moz-border-radius: 500px;
				-ms-border-radius: 500px;
				-o-border-radius: 500px;
				border-radius: 500px;
			}

			>a {
				font-size: 1.4em;
			}

			.sub {
				width: 210px;
				margin-top: 7px;
			}
		}
	}
}

.navbar-menu {
	background: #{$header-bg};
	display: inline-block;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;

	h1 {
		float: left;
		margin: 0;
		line-height: 140%;

		a {
			color: #fff;
			font-size: 0.7em;
		}
	}

	.topbar {
		ul.menu {

			li {
				padding: 0;

				a {
					color: #fff;
					line-height: 40px;

					&:after {
						border-color: white transparent transparent transparent;
					}
				}

				&.active {
					background: #13c4ff;
				}

				&:hover {
					background: #13c4ff;
				}

				ul {
					right: 0;
					border: 0;

					li {
						background: #333;

						a {
							line-height: inherit;
						}

						&:hover {
							a {
								color: white;
							}
						}
					}
				}

				&.divide {
					border-bottom: none;
					border-top: none;
					border-right: solid 1px #4d4d4d;
					clear: none;
					height: 46px;
					width: 0;
				}
			}



		}
	}
}

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #{$navbar-bg};
	padding: 10px 7px;
	border-top: 1px solid #{$border-color};
	border-bottom: 1px solid #{$border-color};
	z-index: 99;

	.row {
		margin-bottom: 0;
	}

	a.direct {
		padding: 5px 0;
		display: inline-block;
		font-weight: 700;
		color: #333;
		font-size: 1.2em;

		i {
			font-size: 1.1em;
			margin: 0px 5px;
		}
	}

	ul.button-group {
		margin-bottom: 0;
		li {
			padding: 1px 0;

			a {
				line-height: 120%;
				border-radius: 0;

				&.solid {
					border: 1px solid #{$navbar-bg}
				}
			}

			a:hover,
			a.active {
				color: white;
			}

			&:first-child {
				a {
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
			&:last-child {
				a{
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}
	}

	h6.label {
		margin: 0;
		text-align: center;
		font-weight: 400;
		font-size: 1.4em;

		&.title {
			line-height: 120%;
			font-size: 1.1em;
		}
		max-width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	p {
		margin: 0;
		text-align: center;
		font-size: 0.8em;
		color: #666;
		line-height: 120%;
		max-width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.icon-menu {
		position: relative;
		display: inline-block;
		color: #333;
		font-size: 1.5em;
		padding: 3px 0 4px;

		i {
			margin: 0 5px;
		}
	}

	input[type="text"] {
		text-align: center;
		margin-bottom: 0;
		height: 2.15em;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;

		&:focus {
			text-align: left;
		}
	}
}

.navbar + .container {
	padding-top: 53px;
}

.tabstrip {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid #{$border-color};
	border-bottom: 1px solid #{$border-color};
	z-index: 99;
	background: #f5f5f5;

	.row {
		margin-bottom: 0;
	}

	.tabs {
		border-right: 1px solid #{$border-color};
		text-align: center;
		padding: 3px 0;

		.icon {
			width: 32px;
			height: 32px;
			text-align: center;
			font-size: 1.7em;
			line-height: 140%;
			color: #000;
		}

		span {
			display: block;
			font-weight: 400;
			font-size: 0.8em;
			color: #333;
		}
	}
	.tabs:last-child {
		border-right: 0;
	}
}
