.nav-menu {
	background: #{$header-bg};
	display: block;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	height: #{$top-bar-height};
	border-bottom: 1px solid #{$header-bg * 0.96};

	.pull-left {
		padding: #{$grid * 2} 0 0 #{$grid * 4};
	}
	.pull-left h1 {
		margin: 0;
		float: left;
		font-size: 1.5em;

		a {
			display: inline-block;
			float: left;
			line-height: 32px;
			color: #000;
		}

		&:hover {
			color: #333;
		}

		.logo img {
			height: 32px;
			float: left;
			margin-right: 8px;
			display: inline-block;
		}
	}

	.pull-right {
		padding: 0 #{$grid * 4} 0 0;
	}
	.pull-right ul.flat {
		> li {
			margin-right: #{$grid * 6};
			line-height: #{$top-bar-height};
			vertical-align: middle;

			&:last-child {
				margin-right: 0;
			}
		}
		li {
			li {
				line-height: 0em;
			}
			a {
				display: block;
			}
		}

		.user {
			position: relative;

			> a {
				padding-right: #{$grid * 3};
				display: block;
			}

			.avatar {
				width: #{$grid * 8};
				height: #{$grid * 8};
				margin: #{$grid} #{$grid * 2} 0 0;
				display: block;
				float: left;
				-webkit-border-radius: 666em;
				-moz-border-radius: 666em;
				-ms-border-radius: 666em;
				-o-border-radius: 666em;
				border-radius: 666em;
			}

			span {
				line-height: 120%;
				display: inline-block;
				vertical-align: top;
				top: 4px;
				position: relative;

				small {
					font-size: 85%;
					display: block;
				}
			}

			i.xn-caret-down {
				position: absolute;
				right: 0;
				top: 33%;
			}
		}

		ul {
			display: none;
			position: absolute;
			padding: 0;
			margin: -1px 0 0;
			list-style: none;
			width: 100%;
			background: #{$header-bg};
			border: 1px solid #{$header-bg * 0.8};
			border-top: none;
			-webkit-border-radius: 0 0 #{$border-radius-pixels} #{$border-radius-pixels};
			-moz-border-radius: 0 0 #{$border-radius-pixels} #{$border-radius-pixels};
			-ms-border-radius: 0 0 #{$border-radius-pixels} #{$border-radius-pixels};
			-o-border-radius: 0 0 #{$border-radius-pixels} #{$border-radius-pixels};
			border-radius: 0 0 #{$border-radius-pixels} #{$border-radius-pixels};

			&.fadeInDown {
				display: block;
				z-index: 3;
			}

			&.sub li {
				display: block;
				float: none;
				margin: 0;
				padding-left: 15px;

				&:hover {
					background: #eee;
				}
			}

			li {
				a {
					position: relative;
					padding: #{$grid * 3} #{$grid * 8} #{$grid * 3} #{$grid * 6};
					color: #465d6f;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					max-width: 100%;
					border-bottom: 1px solid #e5e5e5;

					i {
						margin-left: -#{$grid * 4};
					}
				}

				&:last-child a {
					border-bottom: 0;
				}

				&:hover a {
					color: #08c;
				}

				.sub-badge {
					color: #f79263;
				}
			}
		}

		.notification {
			position: relative;

			.badge {
				width: 25px;
				height: 25px;
				line-height: 25px;
				font-size: 0.75em;
				text-align: center;
				display: inline-block;
				background: red;
				-webkit-border-radius: 500px;
				-moz-border-radius: 500px;
				-ms-border-radius: 500px;
				-o-border-radius: 500px;
				border-radius: 500px;
			}

			> a {
				font-size: 1.4em;
			}

			.sub {
				width: 210px;
				margin-top: 7px;
			}
		}
	}
}

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #{$navbar-bg};
	padding: 4px 8px;
	border-top: 1px solid #{$border-color};
	border-bottom: 1px solid #{$border-color};
	z-index: 99;

	.row {
		margin-bottom: 0;
	}

	a.direct {
		padding: 5px 0;
		display: inline-block;
		font-weight: 700;
		color: #333;
		font-size: 1.2em;

		i {
			font-size: 1.1em;
			margin: 0px 5px;
		}
	}

	ul.button-group {
		margin-top: 4px;
		margin-bottom: 0;

		li {
			padding: 1px 0;

			a {
				line-height: 120%;
				border-radius: 0;

				&.solid {
					border: 1px solid #{$navbar-bg}
				}
			}

			a:hover,
			a.active {
				color: white;
			}

			&:first-child {
				a {
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
			&:last-child {
				a{
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}
	}

	h6.label {
		margin: 0;
		text-align: center;
		font-weight: 400;
		font-size: 1.4em;

		&.title {
			line-height: 120%;
			font-size: 1.1em;
		}
		max-width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	p {
		margin: 0;
		text-align: center;
		font-size: 0.8em;
		color: #666;
		line-height: 120%;
		max-width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.icon-menu {
		position: relative;
		display: inline-block;
		color: #333;
		font-size: 1.5em;
		padding: 2px 0 0;

		i {
			margin: 0 4px;
		}
	}

	input[type="text"] {
		text-align: center;
		margin-bottom: 0;
		height: 30px;
		-webkit-border-radius: #{$border-radius-pixels};
		-moz-border-radius: #{$border-radius-pixels};
		-ms-border-radius: #{$border-radius-pixels};
		-o-border-radius: #{$border-radius-pixels};
		border-radius: #{$border-radius-pixels};

		&:focus {
			text-align: left;
		}
	}
}

.navbar + .container {
	padding-top: 53px;
}

.tabstrip {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid #{$border-color};
	border-bottom: 1px solid #{$border-color};
	z-index: 99;
	background: #f5f5f5;

	.row {
		margin-bottom: 0;
	}

	.tabs {
		border-right: 1px solid #{$border-color};
		text-align: center;
		padding: 3px 0;

		.icon {
			width: 32px;
			height: 32px;
			text-align: center;
			font-size: 1.7em;
			line-height: 140%;
			color: #000;
		}

		span {
			display: block;
			font-weight: 400;
			font-size: 0.8em;
			color: #333;
		}
	}
	.tabs:last-child {
		border-right: 0;
	}
}
