ul.pagination { 
	height: 1.8em; 
	margin-top: 0; 
	margin-bottom: 0; 
	float: none; 
    display: table;
    list-style: none;
    padding: 0;

    li { 
    	margin-right: 0; 
    	margin-left: 3px; 
        float: none;
        display: inline-block;

    	a { 
    		display: block; 
    		padding: 0 7px; 
    		color: #{$pagination-color}; 
    		font-weight: 300;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
    	}

        a:hover, 
        a:focus { 
        	background: #{$submit-bg-hover}; 
        }

        &.unavailable a { 
            cursor: default; 
        }

        &.unavailable a:hover { 
            background: transparent; 
        }

        &.active a { 
        	background: #{$submit-bg}; 
        	color: #{$pagination-active-color};
        	cursor: default;
            line-height: 20px;
            font-weight: 500;
        }
    }


    &.centered { 
        width: auto; 
        text-align: center;
    }
}
.pagination-mix { 
	margin-bottom: 30px; 
	position: relative 
}


// =========================== media query =======================

@media #{$screen} {
	ul.centered { 
        width: auto; 
        // display: inline-block; 
        margin: 0 auto; 
    }
    .pagination-mix .left { 
        position: absolute; 
        left: 0; 
        top: 0 
    }
    .pagination-mix .right { 
        position: absolute; 
        left: initial; 
        right: 0; 
        top: 0 
    }
}
@media #{$small} {
	ul.centered {
        margin: 0 auto;
    }
    ul.pagination {
        margin: 0 auto;
        float: none;
    }
    .pagination-mix .left { 
        position: relative; 
        margin: 0 auto; 
    }
    .pagination-mix .right { 
        position: relative; 
        margin: 0 auto; 
    }
}

