#popupOverflow { 
	position:fixed; 
	top:0; 
	left:0; 
	z-index:9999; 
	display:table; 
	width:100%; 
	height:100%; 
	background:rgba(0, 0, 0, 0.64);

	#popupMargin { 
		display:table-cell; 
		vertical-align:middle 
	}
	
	#popupContent { 
		position: relative;
	    display:table; 
	    margin:0 auto; 
	    background-color:#fff;
	    -webkit-border-radius:5px;
	    -moz-border-radius:5px;
	    -ms-border-radius:5px;
	    -o-border-radius:5px;
	    border-radius:5px;

		.wrapper { 
			padding: 20px; 
		}

		.buttonClose {
			padding: 6px;
		    line-height: 12px;
		    cursor: pointer;
		    margin: 0;
		    position: absolute;
		    top: -10px;
		    right: -11px;
		    font-size: 1.3em;
		    background: #fff;
		    -webkit-border-radius: 500px;
		    -moz-border-radius: 500px;
		    -ms-border-radius: 500px;
		    -o-border-radius: 500px;
		    border-radius: 500px;
		    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.35);
		    -ms-box-shadow: 0px 1px 3px rgba(0,0,0,0.35);
		    -o-box-shadow: 0px 1px 3px rgba(0,0,0,0.35);
		    box-shadow: 0px 1px 3px rgba(0,0,0,0.35);
		}
	}

	h4 { 
		margin: 0; color: #444; 

		i { 
			cursor: pointer; font-size: 0.7em; 
		}
	}

	p { 
		color: #666; 
	}

	.button-area { 
		margin-top: 15px; 
	}

	.content-area {
		.row { 
			margin-bottom: 10px; 

			&:first-child { 
				margin-top: 15px; 
			}
		}
	}

	&.scroll {
		#popupMargin {
			padding: 20px; 
			display: block;
		}

		#popupContent {
			top:20px; 
			bottom: 20px; 
			right: 20px; 
			left: 20px; 
			position: absolute; 
			display: block; 
			overflow: auto;
		}
	}
}
