.sidebar {
    position: fixed;
    z-index: 1000;
    top: #{$top-bar-height};
    bottom: 0;
    left: 0;
    display: block;
    width: #{$side-bar-width};
    overflow: auto;
    background-color: #{$navbar-bg};
    border-right: 1px solid #{adjust-lightness($navbar-bg, -10%)};

    .nav {
        display: block;
        margin: 0;
        padding: 0;

        li {
            display: block;
            float: none;
            margin: 0 0 -1px;
            padding-left: 24px;

            a {
                padding: 8px 24px 8px 0;
                display: block;
                color: #465d6f;
                border-bottom: 1px solid #{adjust-lightness($navbar-bg, -10%)};
                border-top: 1px solid transparent;
                position: relative;

                &.select {
                    i.icn-plus {
                        @include transform(rotate(45deg) scale(1));
                    }
                }

                &.select {
                    color: #08c;
                }

                i.icn-right {
                    position: absolute;
                    left: initial;
                    right: #{$grid * 3};
                    top: #{$grid * 2};
                }

                i.icn-plus {
                    font-style: normal;
                    position: absolute;
                    left: initial;
                    right: #{$grid * 4};
                    top: #{$grid * 2};
                    @include transform(rotate(0deg) scale(1));
                    @include transition(-webkit-transform 0.3s ease-out);
                    @include transform-origin(center center);
                }
            }

            &.hover a,
            &:hover a {
                color: #08c;
            }

            &:first-child {
                a.select {
                    border-top: 1px solid transparent;
                }
            }

            &.collapsible {
                & > a {
                    i.fa {
                        float: right;
                    }
                }

                ul {
                    position: relative; padding: 0;

                    li {
                        padding-left: 0;

                        &:last-child {
                            a {
                                border-bottom: 1px solid #{$navbar-bg * 0.96};
                            }
                        }
                    }
                }
            }
        }

        li:first-child {
            a,
            a.select {
                border-top: 0;
            }
        }
    }

    .nav.with-icon {
        li {
            padding-left: #{$grid * 10};

            a {
                i.icn-left {
                    position: absolute;
                    left: -#{$grid * 6};
                    top: #{($grid * 2.5)};
                }
            }
        }
    }
}