.table-container {
    overflow: auto;
    margin: #{$grid * 2} 0 0;
	-webkit-overflow-scrolling: touch;
}
.table-body {
	position: relative;
    margin: #{$grid * 2} 0 0;

	.fixed {
    	overflow: auto;
		border: 1px solid #{$table-border-color};
    	-webkit-overflow-scrolling: none;
		@include border-radius(#{$border-radius-pixels});
	}
}
* > .table-container:first-child,
* > .table-body:first-child {
	margin: 0;
}

table,
.table {
	font-size: 1em;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 100%;

	thead tr th {
		background: #{$table-head-color};
	}

	tr {
		border-bottom: 1px solid #{$table-border-color};
	}
	tbody tr:last-child,
	tbody tr.last-child {
		border-bottom: none;
	}

	th,
	td {
		padding: #{$grid * 2} #{$grid * 4};
		line-height: #{$body-line-height};
		background: #{$table-color};
		vertical-align: top;
		text-align: left;
	}
	th {
		vertical-align: middle;
	}
	&.nowrap {
		th,
		td {
			white-space: nowrap
		}
	}

	&.fixed-head {
		th,
		td {
			&:nth-child(2) {
				padding-left: #{50 + 1 + ($grid * 6)};
			}

			&:first-child {
				position: absolute;
				left: 1px;
				width: 50px;
				border-right: 1px solid #{$table-border-color};
			}
		}
	}

	&.fixed-tail {
		th,
		td {
			&:nth-last-child(2) {
				padding-right: #{131 + ($grid * 6)};
			}

			&:last-child {
				position: absolute;
				left: initial;
				right: 1px;
				width: 130px;
				border-left: 1px solid #{$table-border-color};
			}
		}
	}

	&.stripped {
		tr {
			border: none;

			&.odd td,
			&:nth-of-type(odd) td {
				background: #{$table-stripe-color};
			}
		}
	}

	&.hover {
		tr.hover td,
		tr:hover td {
			background: #{$table-hover-color};
		}
	}
}



@media #{$medium} {
	table.flip-scroll {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		display: block;
		position: relative;
		width: 100%;

		:after {
			visibility: hidden;
			display: block;
			font-size: 0;
			content: " ";
			clear: both;
			height: 0;
		}

		th, td {
			margin: 0;
			vertical-align: top;
		}

		th {
			display: block;
			text-align: right;
		}

		thead {
			display: block;
			float: left;

			tr {
				display: block;
				border-right: 1px solid #{$table-border-color};
			}
		}

		tbody {
			display: block;
			width: auto;
			position: relative;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			white-space: nowrap;

			tr {
				display: inline-block;
				vertical-align: top;
				border-left: 1px solid #{$table-border-color};
			}
			tr:first-child {
				border-left: 0;
			}
		}

		td {
			display: block;
			min-height: 1.25em;
		}
	}

	table.no-more-table {
		thead,
		tbody,
		th,
		td,
		tr {
			display: block;
		}

		thead {
			tr {
				position: absolute;
				top: -9999px;
				left: -9999px;
			}
		}

		td {
			border: none;
			border-bottom: 1px solid #{$table-border-color};
			position: relative;
			padding-left: 50%;
			white-space: normal;
			text-align:left;

			&:before {
				position: absolute;
				top: 6px;
				left: 6px;
				width: 45%;
				padding-right: 10px;
				white-space: nowrap;
				text-align:left;
				font-weight: bold;
				content: attr(data-title);
			}
		}
		tr:last-child td:last-child {
			border-bottom: 0;
		}
	}
}
