ul.menu {
	text-align: left;
	margin: 0;
	list-style: none;
	padding: 0;
	display: table;

	> li {
		float: left;
		display: block;
	}
	
	li {	
		display: inline-block;
		position: relative;
		cursor: pointer;

		a {
			color: #333;
			display: block;
			clear: both;
			white-space: nowrap;
			padding: 3px 0;
			margin: 0px 15px;
		}

		&:hover,
		&.selected {
			background: #f5f5f5;

			ul {
				display: block;
				opacity: 1;
				visibility: visible;
				border: 1px solid #{$border-color};
			}
		}
	}

	.collapsible {
		> a {
			position: relative;

			i.xn {
				margin-left: 5px;
			}
		}

		&.up {
			> a {
				position: relative;

				&:after {
					border-color: transparent transparent black transparent;
					border-width: 0.5em;
					margin-top: -0.6em;
				}
			}

			ul {
				top: -83px;
			}
		}

		ul {
			padding: 0;
			position: absolute;
			top: 100%;
			display: none;
			opacity: 0;
			z-index: 9;
			visibility: hidden;
			-webkit-transition: all 0.2s;
			-moz-transition: all 0.2s;
			-ms-transition: all 0.2s;
			-o-transition: all 0.2s;
			transition: all 0.2s;

			li {
				> a {
					padding: 3px 25px;
					margin: 0;
				}

				display: block;
				background: #fff;

				&.divider {
					border-top: 1px solid #{$border-color};
					padding: 0px;
					overflow: hidden;
				}

				&:hover,
				&.selected {
					background: #f5f5f5;

					ul {
						display: block;
						left: 100%;
						top: 0;
					}
				}

				&.left:hover,
				&.left.selected {
					ul {
						left: -70%;
					}
				}
			}

			.collapsible {
				&.right {
					> a {
						position: relative;

						i.xn {
							margin: 0;
							position: absolute;
							right: 12px;
							top: 7px
						}
					}
				}

				&.left {
					> a {
						position: relative;

						i.xn {
							margin: 0;
							position: absolute;
							left: 12px;
							top: 7px
						}
					}
				}
				ul {
					display: none;
				}
			}
		}
	}
}

.tooltip-text {
	position: relative;
	color: black;
	font-weight: 300;

	.tooltip {
		background: #F5F5C0;
		color: black;
		position: absolute;
		padding: 2px 3px 2px 3px;
		display: none;
		text-align: center;
		width: 100%;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		-ms-border-radius: 7px;
		-o-border-radius: 7px;
		border-radius-: 7px;

		&.down {
			top: 100%;
			left: 0;
		}

		&.top {
			bottom: 100%;
			left: 0;
		}

		&.left {
			right: 100%;
			top: 10%;
		}

		&.right {
			left: 100%;
			top: 10%;
		}
	}
}
.tooltip-text:hover {
	.tooltip {
		display: block;
	}
}