$font-family: 'Lato', sans-serif;

// ============== font weight ==============
$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-bolder: 900;
// ==============================================


// ============== background color ==============
$header-bg: #f5f5f5;
$navbar-bg: rgba(0,0,0,0.024);
$footer-bg: #f5f5f5;
$bg-hover: #f5f5f5;
$submit-bg: #08c;
$submit-bg-hover: #f5f5f5;
$prepostfix-bg: #f2f2f2;
$button-error: #f3382e;
$button-success: #44c25a;
$button-warning: #ff9500;
$alert-error: #ffdce6;
$alert-border-error: #ffc8d4;
$alert-success: #f1f9f7;
$alert-border-success: #e0f1e9;
$alert-warning: #fff7e4;
$alert-border-warning: #ffecc2;
$alert-info: #d7edff;
$alert-border-info: #bbe1ff;
// ==============================================


// ==================== color ===================
$color: #000;

$h1-color: #08c;
$h1-small-color: #6f6f6f;
$h4-color: #6f6f6f;
$h5-color: #f00;

$subheader-color: #6f6f6f;

$a-color: #08c;
$a-color-amount: 15%;

$submit-color: #08c;
$submit-solid-color: #fff;

$pagination-color: #333;
$pagination-active-color: #fff;

$table-head-color: #f5f5f5;
$table-color: #fff;
$table-stripe-color: #f9f9f9;
$table-hover-color: #F9EFE8;

$listview-link-color: #97a0a4;
$grouptitle-color: #333333;

$checkbox-white: #fff;
$checkbox-green: #53d76a;
$checkbox-grey: #d3d3d3;

$alert-error-color: #ff3b30;
$alert-success-color: #1d9d74;
$alert-warning-color: #ff9500;
$alert-info-color: #007aff;

$disable-color: #ccc;
// ==============================================


// =============== line height ==================
$body-line-height: 1.64em;
$listviewtext-line-height: inherit;
// ==============================================


// ================= image width ===================
$img-icon-width: 30px;
$img-icon-height: 30px;
$img-picture-width: 40px;
$img-picture-height: 40px;
$img-image-width: 100%;
$img-image-height: auto;
// =================================================


// ================ border color ================
$border-color: #eeeeee;
$border-input-color: #ddd;
$border-button-solid-color: #fff;
$border-button-color: #08c;
$border-postprefix-color: #cccccc;
$table-border-color: #dddddd;
// ==============================================


// ============== screen resolution =============
$tiny-screen: "240px";
$small-screen: "480px";
$medium-screen: "767px";
$large-screen: "1023px";
$extra-large-screen: "1360px";
$screen: "screen";
$tiny: "only screen and (max-width:#{$small-screen})";
$small: "only screen and (max-width:#{$medium-screen})";
$medium: "only screen and (max-width:#{$large-screen}) ";
$large: "only screen and (min-width:#{$extra-large-screen})";
// ==============================================


// ============ total grid system ===============
$grid-total-columns: 12 !default;
$tabstrip-columns: 10 !default;
// ==============================================


// ================= Measurement ================
$grid: 4px;
$border-radius-pixels: $grid;
$top-bar-height: $grid * 12;
$side-bar-width: $grid * 64;
// ==============================================
