// ============== background color ==============
$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-bolder: 900;
// ==============================================


// ============== background color ==============
$header-bg: #333;
$navbar-bg: #f5f5f5;
$footer-bg: #333;
$bg-hover: #f5f5f5;
$submit-bg: #08c;
$submit-bg-hover: #f5f5f5;
$prepostfix-bg: #f2f2f2;
$alert-error: #FF3B30;
$alert-success: #007AFF;
$alert-warning: #FF9500;
$alert-info: #4CD964;
$button-alert: #ff3b30;
$button-success: #4cd964;
$button-warning: #ff9500;
// ==============================================


// ==================== color ===================
$h1-color: #08c;
$h1-small-color: #6f6f6f;
$h4-color: #6f6f6f;
$h5-color: #f00;
$subheader-color: #6f6f6f;
$a-color: #08c;
$a-color-amount: 15%;
$submit-color: #fff;
$pagination-color: #999;
$pagination-active-color: #fff;
$table-stripped-color: #f9f9f9;
$table-head-color: whitesmoke;
$table-hover-color: #F9EFE8;
$listview-link-color: #97a0a4;
$grouptitle-color: #333333;
$alert-error-color: #ffffff;
$alert-success-color: #ffffff;
$alert-warning-color: #ffffff;
$alert-info-color: #ffffff;
$checkbox-white: #fff;
$checkbox-green: #53d76a;
$checkbox-grey: #d3d3d3;
// ==============================================


// =============== line height ==================
$body-line-height: 150%;
$listviewtext-line-height: inherit;
// ==============================================


// ================= image width ===================
$img-icon-width: 30px;
$img-icon-height: 30px;
$img-picture-width: 40px;
$img-picture-height: 40px;
$img-image-width: 100%;
$img-image-height: auto;
// =================================================


// ================ border color ================
$border-color: #eeeeee;
$border-input-color: #ddd;
$border-button-color: #fff;
$border-postprefix-color: #cccccc;
$table-border-color: #dddddd;
// ==============================================


// ============== screen resolution =============
$tiny-screen: "240px";
$small-screen: "480px";
$medium-screen: "767px";
$large-screen: "1023px";
$extra-large-screen: "1360px";
$screen: "screen";
$tiny: "only screen and (max-width:"#{$small-screen}")";
$small: "only screen and (max-width:"#{$medium-screen}")";
$medium: "only screen and (max-width:"#{$large-screen}") ";
$large: "only screen and (min-width:"#{$extra-large-screen}")";
// ==============================================


// ============ total grid system ===============
$grid-total-columns: 12 !default;
$tabstrip-columns: 10 !default;
// ==============================================
